body {
	margin: 0;
	background-color: #333;
	color: #fff;
	font-family: "Sans serif", Verdana;
}

#tip {
	width: 620px;
	padding: 0 10px;
	margin: 10px auto;
	font-family: "Sans serif", Verdana;
	font-size: 12px;
	color: #999;
}

#darkblue {
	background-color: #00c3fe;
}

#lightblue {
	background-color: #a4e6fd;
}

	#lightblue #tip {
		color: #fff;
	}

#yellow {
	background-color: #faf0c1;
}

	#yellow #tip {
		color: #333;
	}

#lightred {
	background-color: #fc6272;
}

	#lightred #tip {
		color: #333;
	}

#darkred {
	background-color: #ff3214;
}

#search {
	background-color: #fff;
	padding: 10px;
	margin: 30px 30px 0;
	-webkit-box-shadow: 0 0 6px #999;
}

	#search input[type="text"] {
		font-size: 20px !important;
	}

	#search .gsc-branding {
		display: none;
	}
	
	#search .gsc-clear-button {
		display: none;
	}
	
	.gs-snippet {
		color: #666;
	}

.i-love { color: #a839b2; }
.i-love.selected span { background-color: #a839b2; }

.i-hate { color: #fe0071; }
.i-hate.selected span { background-color: #fe0071; }

.i-think { color: #add22f; }
.i-think.selected span { background-color: #add22f; }

.i-believe { color: #51a601; }
.i-believe.selected span { background-color: #51a601; }

.i-feel { color: #00a978; }
.i-feel.selected span { background-color: #00a978; }

.i-wish { color: #0074b0; }
.i-wish.selected span { background-color: #0074b0; }

.selected { color: white; }

#casual {
	width: 620px;
	padding: 10px;
	margin: 30px auto 0;
	-webkit-box-shadow: 0 0 5px #666;
	color: #fff;
}

	#casual h1 {
		background: transparent url(/img/incognito-casual.png) no-repeat top center;
		height: 60px;
		margin: 0;
		text-indent: -1000px;
		display: none;
	}
	
#available-sentences {
	float: left;
	width: 100px;
	font-size: 18px;
	font-family: Futura-CondensedExtraBold;
}

	#available-sentences ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		#available-sentences li {
			cursor: hand;
		}
		
		#available-sentences li span {
			padding: 0 5px;
		}

#twitterSearch {
	min-height: 220px;
}

	#twitterSearch .tweet {
		color: #ccc;
		padding: 10px;
		margin-left: 100px;
		margin-bottom: 10px;
		font-size: 12px;
		font-family: "Sans serif", Verdana;
	}
	
		#twitterSearch .tweet img {
			float: left;
		}

		#twitterSearch .tweet .username {
			display: none;
		}

		#twitterSearch .tweet a {
			color: #a4e6fd;
		}
		
		#twitterSearch .tweet p {
			margin: 0 0 0 34px;
			min-height: 24px;
		}
		
		#twitterSearch .tweet .sentence {
			font-weight: bold;
		}

		#twitterSearch .tweet .time {
			color: #999;
			display: none;
		}

#starred {
	width: 620px;
	padding: 10px;
	margin: 30px auto 0;
	-webkit-box-shadow: 0 0 5px #666;
	color: #fff;
}

	#starred.blank {
	  font-family: 'Heiti SC', serif;
		text-shadow: #000 1px 1px 2px;
		background: #222 url(/img/star.png) no-repeat scroll center 20px;
		height: 240px;
		text-align: center;
	}
		#starred.blank h2 {
			margin: 160px 0 0 0;
		}
		#starred.blank p {
		}
	
	#starred a {
		color: #fff;
	}
	
	#starred ul,
	#starred li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
		#starred ul li {
			width: 200px;
			float: left;
			margin-right: 10px;
		}
		#starred ul li:nth-child(3) {
			margin-right: 0;
		}
		
	#starred .thumbnail {
/*		background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));*/
		background: #ccc url(/img/thumbnail-blank.png) no-repeat scroll center center;
		width: 200px;
		height: 150px;
	}
	
	#starred .title {
		width: 200px;
		font-size: 11px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-top: 5px;
	}

.starred {}
	.starred .thumbnail {
		background-color: #666;
		border: solid 1px #999;
		width: 240px;
		height: 160px;
	}
	.starred ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.starred li {
		float: left;
		margin-right: 20px;
	}